In [21]:
import pandas as pd
import numpy as np
from sys import argv

chrom = argv[1][:-]
df = pd.read_csv('../maf_counts2/{}'.format(chrom))
df[df[['cons', 'inno', 'non_inno']].any(axis=1)].to_csv('../maf_counts2_filter/{}'.format(chrom), index = False)

In [23]:
df

,start,cons,inno,non_inno,Ref_inno,Alt_noninno,n_inno,n_noninno,n,inno_N,inno_-,noninno_N,noninno_-,chrom
0,57439,False,False,False,"A,C","A,C",6,3,9,0,0,0,0,NC_044232.2
1,57440,False,False,False,"A,G","A,G",6,3,9,0,0,0,0,NC_044232.2
2,57441,False,False,False,"A,T,G,C","T,G,C",6,3,9,0,0,0,0,NC_044232.2
3,57442,False,False,False,T,"T,G",6,3,9,0,0,0,0,NC_044232.2
4,57443,False,False,False,C,"G,C",6,3,9,0,0,0,0,NC_044232.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13285166,14738074,False,False,False,"T,C","T,C",4,28,32,0,0,0,0,NC_044232.2
13285167,14738075,False,False,False,"T,C","A,T,G,C",4,28,32,0,0,0,0,NC_044232.2
13285168,14738076,False,False,False,"A,G","A,T,C",4,28,32,0,0,0,0,NC_044232.2
13285169,14738077,False,False,False,"A,T,C","A,T,G,C",4,28,32,0,0,0,0,NC_044232.2
13285170,14738078,False,False,False,"A,C","A,G",4,28,32,0,0,0,0,NC_044232.2

32